.pagebloc__columns {
  position: relative;
  display: flex;
  justify-content: space-between;
  // margin: 0 -10px;
  color: green;

  .image {
    position: relative;

    img {
      position: relative;
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
  }

  .texte {
    padding: 15px 0 0;
  }
}

.pagebloc__columns__item {
  // flex: 1;
  // padding: 0 10px;
  // padding: 20px 0;
  transition: 0.2s;

  &.m--buttoned:hover {
    background: $white;
  }
}

.pagebloc__columns__inner {
  position: relative;
  height: 100%;

  &.m--buttoned {
    padding-bottom: 60px;
  }
}