.pagebloc__faq {

  // .icon-vaguelettes {
  //   position: relative;
  //   display: block;
  //   width: 56px;
  //   height: 3px;
  //   margin: 10px auto 28px;
  //   color: $blue;
  // }

  .faq__question {
    position: relative;
    margin: 0 0 4px 0;
  }

  h3 {
    z-index: 2;
    position: relative;
    display: block;
    padding: 10px 10px;
    // font-family: "CocogoosePro-Light";
    font-size: 18px;
    // color: $bluedark;
    color: #313030;
    background: #fff;
    cursor: pointer;
    user-select: none;
  }

  .faq__reponse {
    z-index: 1;
    position: relative;
    padding: 20px 10px;
    background: #f5fafc;
    font-size: 15px;
    color: #313030;
    border-top: 1px solid #fff;
  }

  .faq__close {
    z-index: 3;
    position: absolute;
    right: 2px;
    top: 2px;
    display: block;
    width: 32px;
    height: 32px;
    padding: 0;
    transform: rotate(-45deg);
    transition: 0.2s;
    pointer-events: none;

    &::before,
    &::after {
      background: blue;
      height: 2px;
      width: 70%;
    }
  }

  .is--open {
    .faq__close {
      transform: rotate(0deg);
    }
  }

  &.m--dark {
    h3 {
      background: #ebf4f9;
    }
  }
}