.footer {
  position: relative;
  display: block;
  text-align: center;

  a {
    position: relative;
    display: inline-block;
    padding: 3px 12px;
    font-size: 12px;
    text-transform: uppercase;
    color: $black;
  }
}



/*
* DEMO
*/

.footer {
  .mainwrapper {
    border: 3px dashed #659C1D;
    min-height: 120px;
  }
}