.contactpage__map {
  position: relative;

  .plan {
    position: relative;
    border: 2px dashed blue;

    &::after {
      z-index: 1;
      content: '';
      position: relative;
      display: block;
      padding: 0 0 45% 0;
    }
  }

  .plan__inner {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

}

