

// $maxwidth
.burgermenu {
  display: none;
}


.mainmenu {
  position: relative;

  nav {
    font-size: 0;
  }

  a {
    display: inline-block;
    font-size: 20px;
    color: $black;
    padding: 3px 12px;

    &.m--svgicon {

      span {
        display: none;
      }

      .svg-icon {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
      }
    }
  }
}







@media screen and (max-width: $maxwidth){

  .mainmenu {
    display: none;
  }

  .burgermenu {
    z-index: 9;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    overflow: hidden;
    background: #aaa;

    .svg-icon {
      position: absolute;
      left: 20%;
      top: 20%;
      display: block;
      width: 60%;
      height: 60%;
    }

    .icon-close {
      display: none;
    }
  }

  .is--burgermenu_open {

    .mainmenu {
      z-index: 8;
      position: fixed;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      max-height: 100%;
      padding: 20px;
      background: #ddd;
      overflow-y: scroll; /* has to be scroll, not auto */
      -webkit-overflow-scrolling: touch;

      a {
        display: block;
      }
    }

    .burgermenu {
      .icon-close {
        display: block;
      }
      .icon-burger {
        display: none;
      }
    }

  }

}