
html,body {
  overscroll-behavior-x: none;
  // font-family: 'Montserrat', sans-serif;
  // font-size: 1vw;
  // color: $white;
}

/* ------- MISE EN PAGE GENERALE ------- */

tryhard {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.contenu {
  z-index: 1;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* ----------------- */

button {
  // font-family: 'Montserrat', sans-serif;
}

table {
  -webkit-backface-visibility: unset;
}

// @media screen and (min-width: $maxwidth) {
//   html,body {
//     font-size: 20px;
//   }
// }


img {
  display: block;
}

a {
  text-decoration: none;
  color: $black;
}

p {
  padding: 0 0 1em 0;
}

.mainwrapper {
  position: relative;
  width: 100%;
  max-width: $maxwidth;
  margin: 0 auto;
}

.clearboth {
  &::after {
    content: '';
    position: relative;
    display: block;
    clear: both;
  }
}

.m--pseudoclose {

  &::before {
    z-index: 2;
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 60%;
    height: 3px;
    background: $white;
    transform: translate3D(-50%,0,0) rotate3D(0,0,1,45deg);
  }

  &::after {
    z-index: 2;
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 60%;
    height: 3px;
    background: $white;
    transform: translate3D(-50%,0,0) rotate3D(0,0,1,-45deg);
  }
}

.m--pseudoplus {

  &::before {
    z-index: 2;
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 60%;
    height: 3px;
    background: $white;
    transform: translate3D(-50%,0,0) rotate3D(0,0,1,90deg);
  }

  &::after {
    z-index: 2;
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 60%;
    height: 3px;
    background: $white;
    transform: translate3D(-50%,0,0) rotate3D(0,0,1,0);
  }
}





/*
#wpbtw_loginform input[type=password],
#wpbtw_loginform input[type=text] {
  color: $white;
  border-color: $white;
}
*/





/*
::-moz-selection{ background:$theme1;color:$black;}
*::selection{ background: $theme1;color:$black;}
::-webkit-scrollbar              {width: 10px;}
::-webkit-scrollbar-track-piece  {background: #ffffff;} // le fond
::-webkit-scrollbar-thumb        {background: $theme1;} // la barre
html {scrollbar-face-color: $theme1; // la barre
scrollbar-shadow-color: $theme1;
scrollbar-highlight-color: $theme1;
scrollbar-3dlight-color: $theme1;
scrollbar-darkshadow-color: $theme1;
scrollbar-track-color: #ffffff; // le fond
scrollbar-arrow-color: #ffffff;}
*/






@media (prefers-color-scheme: dark) {
// @media (prefers-color-scheme: light) {
}

