/*
@font-face {
  font-family: 'Trebuchet MS';
  src: url('fonts/TrebuchetMS-Bold.eot');
  src: local('Trebuchet MS Bold'), local('TrebuchetMS-Bold'),
    url('fonts/TrebuchetMS-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/TrebuchetMS-Bold.woff') format('woff'),
    url('fonts/TrebuchetMS-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
*/


// .wp-editor {
.mce-content-body {

    h2 {
      color:#f00;
    }

}
