$font-path: "fonts/";

/*

@font-face {
  font-family: "HelveticaNeue ThinCond";
  src: url($font-path + "HelveticaNeueThinCond-CondensedRegularThin.woff2") format("woff2"),
    url($font-path + "HelveticaNeueThinCond-CondensedRegularThin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue Condensed";
  src: url($font-path + "HelveticaNeueCondensed-CondensedRegular.woff2") format("woff2"),
    url($font-path + "HelveticaNeueCondensed-CondensedRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue Condensed";
  src: url($font-path + "HelveticaNeueCondensed-CondensedBold.woff2") format("woff2"),
    url($font-path + "HelveticaNeueCondensed-CondensedBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

*/
