
$maxwidth: 960px;


$white: #ffffff;
$whitekind: #f8fafe;
$greylight: #c1c2c2;
$grey: #545758;
$black: #121314;
$dark: #292d2e;
$green: #2eaf4d;
$red: #f2484a;


$transitime: 0.2s;





/*
    SELECTION
*/
$selection_bg: #e05a17;
$selection_txt: #fff;

::-moz-selection{ 
  background:$selection_bg;
  color:$selection_txt;
}
*::selection{ 
  background: $selection_bg;
  color:$selection_txt;
}




/*
    SCROLLBAR
*/
$scrollcart_color: #e05a17;
$scrollbg_color: #fff;

/** --- 3=scrollbar webkit --- */
::-webkit-scrollbar              {width: 10px;}
::-webkit-scrollbar-track-piece  {background: $scrollbg_color;} /* le fond */
::-webkit-scrollbar-thumb        {background: $scrollcart_color;} /* la barre */
/** --- 3=scrollbar ie --- */
html {
  scrollbar-face-color: $scrollcart_color; /* la barre */
  scrollbar-shadow-color: $scrollcart_color;
  scrollbar-highlight-color: $scrollcart_color;
  scrollbar-3dlight-color: $scrollcart_color;
  scrollbar-darkshadow-color: $scrollcart_color;
  scrollbar-track-color: $scrollbg_color; /* le fond */
  scrollbar-arrow-color: $scrollbg_color;
}







// $font-path: 'fonts/';
/*
@font-face {
  font-family: 'Selima';
  src: url($font-path + 'selima.woff2') format('woff2'),
  url($font-path + 'selima.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
$font1: 'Selima', serif;
*/