.fichiers__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.fichiers__item {
  position: relative;
  width: 20%;
}

.fichiers__block {
  // position: absolute;
  // left: 0;
  // top: 0;
  // width: 100%;
  // height: 100%;
  padding: 0 10px;
}

.fichiers__content {
  // position: absolute;
  // left: 0;
  // top: 0;
  // width: 100%;
  // height: 100%;
}

.fichiers__cov {
  position: relative;
  background: $green;

  &::after {
    z-index: 1;
    content: '';
    position: relative;
    display: block;
    width: 100%;
    padding: 0 0 133% 0;
  }

  .svg-icon {
    position: absolute;
    display: block;
  }

  .icon-file {
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: $white;
    opacity: 0.2;
  }

  .icon-bluedownload {
    z-index: 2;
    right: 0;
    bottom: 0;
    width: 22%;
    height: 22%;
  }

  .cat {
    z-index: 3;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: CocogoosePro-Regular;
    font-size: 18px;
    color: $white;
    text-transform: uppercase;
    text-align: center;
    padding: 26% 0 0;
  }

}

.fichiers__name {
  position: relative;
  padding: 12px 0 30px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;

  h2,a {
    color: black;
    font-size: 14px;
    font-weight: bold;
  }
}