body {
  #tarteaucitronAlertBig #tarteaucitronCloseAlert, #tarteaucitronAlertBig #tarteaucitronPersonalize, #tarteaucitronAlertBig #tarteaucitronPersonalize2, .tarteaucitronCTAButton, #tarteaucitron #tarteaucitronPrivacyUrl, #tarteaucitron #tarteaucitronPrivacyUrlDialog, #tarteaucitronRoot .tarteaucitronDeny, #tarteaucitronRoot .tarteaucitronAllow {
    background: #fff;
    color: #000;

    &::before {
      color: #000;
    }
  }

  #tarteaucitronRoot .tarteaucitronCheck::before,
  #tarteaucitronRoot .tarteaucitronCross::before {
    color: #000; 
  }

  #tarteaucitronRoot #tarteaucitronAlertBig {
    background: #000;
  }
}