#wpbtw_loginform {
  position: relative;
  text-align: center;
  padding: 200px 0;

  input[type="text"],
  input[type="password"] {
    display: block;
    width: 300px;
    height: 40px;
    line-height: 38px;
    font-size: 26px;
    border: 1px solid #000;
    color: #000;
    margin: 20px auto;
    padding: 0 12px;
  }

  .pleaselogme {
    font-size: 20px;
    background: #DDD;
    width: 300px;
    height: 40px;
    line-height: 38px;
    border: 1px solid #BBB;
    margin: 20px auto;
    text-align: center;
  }

}

.single .adminutils {
  h1 {
    text-align: center;
  }
}

.txycenter {
  text-align: center;
}

.resetpassword {
  font-size: 14px;

  input {
    position: relative;
    display: inline-block;
    border: 2px dashed black;
    padding :2px 8px;
  }

  .messages {
    font-size: 16px;
    font-weight: bold;
  }
}