
#adminmenu li.wp-menu-separator {
  height:20px;
  margin:0;
  position:relative;
}

#adminmenu li.wp-menu-separator:before {
  content:'';
  display:block;
  margin: 0 10px;
  position:relative;
  left:0;
  top:9px;
  height:2px;
  background:#fff;
  opacity: 0.1;
  filter: alpha(opacity=10); //IE8
}

.column-pagetemplate {
  width: 15%;
}