.btwflags {
  z-index: 99999;
  position: fixed;
  left: 0;
  bottom: 0;
  opacity: 0.4;
  pointer-events: none;

  .flag__mm {
    background: red;
    color: #fff;
  }

  .flag__dbg {}
}

.btwflags__item {
  position: relative;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 0 6px;
  font-family: Arial, sans-serif;
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
  background: #000;
  color: #fff;
}