

// .pagination {
//   position: relative;
//   text-align: center;
//   font-size: 0;
//   color: $black;

  .pagenav {
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    color: #000;
    padding: 8px 10px;
    margin: 6px;
    border: 1px solid blue;
    border-radius: 3px;
    background: transparent;
    transition: 0.06s;

    &.current:not(.pagenav_etc) {
      background: blue;
      color: #ffffff;
    }

    &:hover:not(.pagenav_etc) {
      border-color: blue;
    }
  }
// }




/*
.pagination {
  position: relative;
  padding: 40px 0;
  font-size: 0;
  text-align: center;

  a {
    display: inline-block;
    padding: 5px 13px;
    margin: 4px;
    font-size: 20px;
    background: $c-white;
    color: $c-green;
    text-decoration: none;
    border: 1px solid $c-stone;

    &:hover {
      background: $c-stone;
      color: $c-white;
    }
  }

  .current {
    display: inline-block;
    padding: 5px 13px;
    margin: 4px;
    font-size: 20px;
    background: $c-white;
    color: $c-stone;
    text-decoration: none;
    border: 1px solid $c-stone;
  }
}
*/