/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* avoid margins on nested elements */
li p,
li ul,
li ol {
	margin-top: 0;
	margin-bottom: 0;
}

ol, ul {
	list-style: none;
}

/* HTML5 tags */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

/* max values */
img, table, td, blockquote, code, pre, textarea, input, video {
	// max-width: 100%;
	height: auto;
}
#map-canvas{
	img{
		max-width: none;
	}
}

h1, h2, h3, h4, h5, h6 {
  font-weight:normal;
}

/* you shall not pass */
// textarea, table, td, th, code, pre, samp, div {
// 	word-wrap: break-word;
// 	-webkit-hyphens: auto;
// 	-moz-hyphens: auto;
// 	-ms-hyphens: auto;
// 	-o-hyphens: auto;
// 	hyphens: auto;
// }

/* pictures */
img {
	width: auto;
	vertical-align: middle;
}
a img { border: 0; }


/* ----------------------------- */
/* ==layout and modules */
/* ----------------------------- */

/* switching box model for all elements */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
//----- Evite les effets de clignottement au clic sur safari ios
* {
  -webkit-tap-highlight-color: transparent !important;
  -webkit-backface-visibility: hidden;
}

// /* blocks that needs to be placed under floats */
.clearfix:after { clear: both; }

/* hiding content */
.visually-hidden {
	position: absolute;
	left: -7000px;
	overflow: hidden;
}

.desktop-hidden { display: none; } /* hidden on desktop */

.clear-both{
	clear: both;
}

/* ----------------------------- */
/* ==forms */
/* ----------------------------- */

form,
fieldset {
	border: none;
}
input,
button,
select,
label {
	vertical-align: middle; /* @bugfix alignment */
}
button{
	padding: 5px 10px;
	border: none;
	color:#000;
	background: none;
	cursor: pointer;
	&:focus {outline:0 !important;}
}
textarea, select, input[type="submit"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"]{
  -webkit-appearance:none;
  background:none;
  outline:0;
  margin:0;
  padding:0;
  border: 0;
  vertical-align: middle;
}
input[type="submit"]{
	cursor: pointer;
}
input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px #e5e6e6 inset !important;
}
::-webkit-input-placeholder { font-style: italic; }
::-moz-placeholder { font-style: italic; }
:-ms-input-placeholder { font-style: italic; }
input:-moz-placeholder { font-style: italic; }
select, select[size="0"], select[size="1"]{
  background:#fff url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
  background-repeat: no-repeat;
  background-position: 97% center;
  padding:0 25px 0 8px;
  font-size: .875em
}
.checkbox{
	label {
	    display: inline-block;
	    cursor: pointer;
	    position: relative;
	    padding-left: 25px;
	    margin-right: 15px;
	    font-size: 13px;
	    &:before {
		    content: "";
		    display: inline-block;
		    width: 13px;
		    height: 13px;
		    margin-right: 10px;
		    position: absolute;
		    left: 0;
		    top: 1px;
		    border : 1px solid #ececec;
		    background-color: #f6f6f6;
		}
	}
	input[type=checkbox] {
	    display: none !important;
	    &:checked + label:before {
		    content: "\2713";
		    font-size: 15px;
		    color: #000;
		    text-align: center;
		    line-height: 15px;
		}
	}
}

/* ----------------------------- */
/* ==iefix */
/* ----------------------------- */

.ie67 .clearfix { zoom: 1; }

.ie8 img {
	width: auto; /* @bugfix for IE8 */
}

/* box-sizing for IE6/IE7 */
.ie67 * {
	behavior: url(lib/boxsizing.htc);
}

.ie67, .ie8, .ie9{
	textarea{
		overflow: auto;
	}
}

/* ----------------------------- */
/* ==print */
/* ----------------------------- */

/* quick print reset */
@media print {
	p,
	blockquote {
		orphans: 2;
		widows: 2;
	}
	blockquote,
	ul,
	ol {
		page-break-inside: avoid;
	}
	h1,
	h2,
	h3,
	caption {
		page-break-after: avoid;
	}
}

/* ----------------------------- */
/* ==mobile */
/* ----------------------------- */

/* orientation iOS font-size fix */
@media (orientation: landscape) and (max-device-width: 640px) {
	html,
	body {
		-webkit-text-size-adjust: 100%;
	}
}



$myfont : "arial";
$font-color : #000;

/** --- 3=base font-size corresponds to 10px and is adapted to rem unit --- */
html {
  font-size: 62.5%;
}
body {
  background-color: #fff;
  color: #000;
  font-family: arial, helvetica, sans-serif;
  font-size: 1em;
}

input, button, textarea {
  font-family: arial, helvetica, sans-serif;
}

/**--- CONTENT GENERE PAR TINYMCE WORDPRESS --- */
strong{ font-weight: bold; }
hr{height:1px; color:#000; background-color: #000; border:0;}



::-moz-selection{ background:#000;color:white;}
*::selection{ background: #000;color:white;}

/** --- 3=scrollbar webkit --- */
::-webkit-scrollbar              {width: 10px;}
::-webkit-scrollbar-track-piece  {background: #eeeeee;} /* le fond */
::-webkit-scrollbar-thumb        {background: #333333;} /* la barre */
/** --- 3=scrollbar ie --- */
html {scrollbar-face-color: #333333; /* la barre */
scrollbar-shadow-color: #333333;
scrollbar-highlight-color: #333333;
scrollbar-3dlight-color: #333333;
scrollbar-darkshadow-color: #333333;
scrollbar-track-color: #eeeeee; /* le fond */
scrollbar-arrow-color: #eeeeee;}



//------------ Règle un bug de rendering CSS sur android
@-webkit-keyframes androidBugfix {from { padding: 0; } to { padding: 0; }}
body { -webkit-animation: androidBugfix infinite 1s; }

//----- permet de recalculer une scrollbar après un changement d'orientation sur safari ios
@media (orientation: landscape) {
  .webkit-scroll-container > * {
    -webkit-animation: fixWebkitOverflowScroll 1s;
  }
  @-webkit-keyframes fixWebkitOverflowScroll {
    0% {padding-bottom: 1px;}
    100% {padding-bottom: 0px;}
  }
}

//--- Autres reset iOS
/*
input, button, select {
	font-family: arial, helvetica, sans-serif;
  -webkit-appearance: none;
  -webkit-border-radius:0;
  border-radius:0;
}
a {
	color:#000;
  text-decoration:none;
}
*/


svg path {
    fill: inherit;
}
